html{
  background-color: #FFF;
	color: #606060;
  max-width: 1750px;
  margin: auto;
  font-family: "ImprintMT Shadow", JavaneseText;
}

body{
	background-color: #d7d7d7;
	width: 60%;
	margin: auto;
	padding-bottom: 1px;
  border: 0px solid #d7d7d7;
  border-radius: 20px;
}

img {
	border: 15px solid #d7d7d7;
	border-radius: 100%;
	width: 200px;
}
img:hover {
  	border: 15px solid #bb9eff;
}
footer {
	text-align: center;
}

a {
  color: #bb9eff;
  text-decoration: none;
}

.mainSection {
	width: 90%;
	margin: 8% auto 0 auto;
	background-color: #FFF;
	text-align: center;
	padding-bottom: 30px;
  border: 0px solid #606060;
  border-radius: 20px;
}

.header {
background-color: #606060;
padding: 15px 20px 20px 20px;
border: 0px solid #606060;
border-radius: 20px;

}

.header h1{
	display:inline;
	color: #FFF;
}

.nav {
float: right;
padding: 10px 0px 10px 0px;
color: #FFF;
font-size: 1.3em;
}

.greyHeader{
  width: 97%;
	height: 1.7em;
	margin: auto;
	background-color: #d7d7d7;
  margin-bottom: 1%;
}

.greyHeader h2{
	margin: inherit;
	text-align: center;
	background-color: #d7d7d7;
}

.leftimg {
	float: left;
	margin: 1% 20px 0px 1%;
}

.socialBar {
  position: fixed;
  top: 50px;
  left: 0px;
  background-color: #d7d7d7;
  border: 5px solid #d7d7d7;
  border-radius: 0px 30px 30px 0px;
}

.socialImg {
  width: 40px;
  border: 5px solid #d7d7d7;
	border-radius: 100%;
  display: block;
}

.socialImg:hover{
	border: 5px solid #bb9eff;
}

/* Flex */
.flexcontainer {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;


  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}


/* Hobby Specifics*/
.personalImages {
	width: 100%;
	margin: auto;
	display:inline-block;
}

.personalText {
  text-align: justify;
  padding: 3% 10% 0 10%
}

/* Media Query*/
@media only screen and (max-width: 1050px) {
  .header {
        padding: 15px 20px 0px 20px;
  }

  .leftimg{
    float: none;
    margin: 1% 0 1% 0;

  }
  .personalText {
    padding: 0 10% 0 10%;
  }
  .personalText h2 {
    margin-top: 0;
    text-align: center;
  }
}
